@charset "utf-8";
/* CSS Document */
#body{
	margin: 0;
	padding: 0;
	background: #E3E3E3;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #8A8985;	
}
.wrapper{
	border: solid 1px;
	margin: 0 auto;
	padding: 0;	
}
.head{
	border: solid 1px;
	padding:0 5px;
	margin:0 5px;
}
.login{
	height:45px;
	font-size:14px;
	background:#F5F5F5;
	margin:0 auto;
	border: solid 1px;
}
.left{
	margin:14px;
	padding:0px 0px 0px 40px;
	float:left;
}
.right{
	padding:0px 40px 0px 0px;
	margin:14px;
	float:right;
}

.search{
	height: 75px;
	margin:0px;
	padding:0 auto;
	border: solid 1px;
}

.logo{
	width="175"; 
	height:74px;
	border: solid 1px;
	float:left;
}
.search_1{
	height:64px;
	width: 482px;
	border: solid 1px;
	font-size: 14px;
	padding:10px 0 0 440px;
}
.search_1_input{
	height:54px;
	width: 382px;
}
.search_1_button{
	height:50px;
	width:80px;
}
